@include mediaLg {
  .first {
    h1 {
      font-size: 2.1rem !important;
      font-weight: 500;
    }
  }
}

@include mediaMd-2 {
  .first {
    h1 {
      font-size: 1.8rem !important;
      font-weight: 500;
    }
  }
}

@include mediaMd-3 {
  .active {
    &::after {
      content: "";
      display: block;
      width: 33%;
      border-bottom: 5px solid $Soft-Red;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  .features {
    .tabs {
      li {
        display: block !important;
        border-bottom: 1px solid lighten($Grayish-Blue, 30);
        position: relative;
      }
    }
  }

  .questions {
    ul {
      width: 100% !important;
    }
  }
}

@include mediaMd-4 {
  .cards {
    flex-direction: column;
  }
  .ml {
    margin-left: 0 !important;
  }
}

@include mediaMd {
  .mt-1 {
    margin-top: 0 !important;
  }
  .mt-2 {
    margin-top: 0 !important;
  }
  .card {
    margin-top: 2rem !important;
  }
}

@include mediaSm {
  .mobile-nav {
    display: block !important;
  }
  nav {
    ul {
      display: none;
    }
    .icon {
      display: block !important;
    }
  }
  .first {
    flex-direction: column;

    .text {
      order: 2;
      margin-top: 6rem !important;
      text-align: center;
      margin-right: 7.5%;
    }

    .image {
      order: 1;
    }
  }
  .content,
  .content2,
  .content3 {
    flex-direction: column;

    .image {
      max-width: 80%;
    }

    .text {
      margin-top: 8rem !important;
      text-align: center !important;
      width: 85%;
      margin: auto;
      .body {
        width: 100% !important;
      }
    }
  }

  footer {
    .container {
      flex-direction: column;
      i {
        padding: 20px 5px 0px 5px;
      }
    }
  }
}

@include mediaVsm {
  footer {
    ul {
      li {
        margin-left: 0;
      }
      &:first-child {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li {
          font-size: 1rem;
          padding-top: 35px;
        }
      }
    }
    i {
      padding: 10px 15px !important;
      padding-top: 35px !important;
    }
  }
  .contact {
    .center {
      width: 100% !important;
    }
    form {
      display: block !important;

      .input {
        input {
          display: inline-block !important;
          width: 100%;
          box-sizing: border-box;
        }
      }

      input[type="submit"] {
        margin-top: 15px;
        width: 100%;
      }
    }
  }

  .btn-primary {
    margin-bottom: 3px;
  }

  h1 {
    font-size: 1rem !important;
  }

  .active {
    &::after {
      content: "";
      display: block;
      width: 43%;
      border-bottom: 5px solid $Soft-Red;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .content,
  .content2,
  .content3 {
    .text {
      margin-top: 6rem !important;
      text-align: center !important;
      width: 85%;
      margin: auto;
      .body {
        width: 100% !important;
      }
    }
  }
}
